<h1> WOOO! Home page! </h1>
<p>
Rock Paper Scissors is essentially a game of chance - choose your favourite and hope that it defeats your opponent's!
<br>
<br>
Rock beats scissors but loses to paper (although no one can really explain why being covered by paper is defeat...)
<br>
<br>
Scissors beats paper but loses to rock (cutty cutty, blunty blunty).
<br>
<br>
Good luck!! And may the best woman, win!
</p>
